
<mat-toolbar>
    <!-- Logo -->
    <span><h1><b>The Community</b></h1></span>
    <span class="example-spacer"></span>
    <!-- Register Button -->
    <button  type="button" class="btn btn-light" (click)="openRegistrationForm()">Register</button>
    &nbsp; &nbsp;
      <!-- Login Button -->
    <button type="button" class="btn btn-light" (click)="openLoginForm()">Login</button>
</mat-toolbar>
<!-- Background Image -->
<div class="bg">
</div>
<!-- Text Overlay -->
<div class="bg-text">
    <!-- Heading -->
    <span><h1><b>THE COMMUNITY</b></h1></span>
    <!-- SubHeading -->
    <span>Find Solutions, Ask Questions, Share Ideas</span><br>
    <span>Connect with users across the world....</span>
  </div>
